$main-color: #BEA67C;
$light-color: #FFFFFF;

$primary-text-color: #010101;
$secondary-text-color: #535353;
$tertiary-text-color: #BEA67C;
$quaternary-text-color: #9C9C9C;

$font-family: "Source Sans 3", sans-serif;
$font-style-primary: normal;
$font-style-secondary: italic;

$font-size-xxl: 2rem;