$main-color: #bea67c;
$light-color: #ffffff;

$primary-text-color: #010101;
$secondary-text-color: #535353;
$tertiary-text-color: #bea67c;
$quaternary-text-color: #9c9c9c;

$font-family: 'Source Sans 3', sans-serif;
$font-style-primary: normal;
$font-style-secondary: italic;

$font-size-xxl: 2rem;

$screen-xsm: 478px; // <
$screen-sm: 576px; // >=
$screen-md: 768px; // >=
$screen-lg: 992px; // >=
$screen-xl: 1200px; // >=

// // max-width: 1200px
// @media (max-width: $screen-xl) {

// }

// // max-width: 992px
// @media (max-width: $screen-lg) {

// }

// // max-width: 768px
// @media (max-width: $screen-md) {

// }

// // max-width: 576px
// @media (max-width: $screen-sm) {

// }

// // max-width: 478px
// @media (max-width: $screen-xsm) {

// }
